.Rproj.user
.Rhistory
.RData
.Ruserdata
Quizz/**/*.log
Quizz/**/*.pdf
Quizz/**/*.tex
Quizz/**/*.synctex.gz
Calculus*/*cache
Calculus*/*files
Calculus*/*.md
Calculus*/*html
Calculus*/*pdf
DM/**/*pdf
DM/**/*tex
DM/**/*synctex.gz
DM/**/*log
DM/**/*cache
