quizz1-concordance.tex
quizz1.Rnw~
quizz1.log
quizz1.synctex.gz
quizz1.tex~
quizz1_corrige.Rnw~
quizz1.tex
quizz1_correction.tex
Figures
cache
quizz1_correction-concordance.tex
quizz1_correction.log
quizz1_correction.synctex.gz
